<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1><%= title %></h1>
  <h2 style="color: red;"><%= message %></h2>
  
  <pre style="border: 1px dashed black;;"><%= error.stack %></pre>
  <a class="btn btn-primary" href="/">Voltar ao Início</a>
</body>
</html>
